[Desktop Entry]
Name=Wallaby
Comment=Wallaby colours for KDE Plasma panels, launchers and widgets
X-KDE-PluginInfo-Author=Gary Smith
X-KDE-PluginInfo-Name=wallaby
X-KDE-PluginInfo-Version=1.3
X-KDE-PluginInfo-Website=https://github.com/jeremie2/Wallaby
X-KDE-PluginInfo-License=MIT
X-Plasma-API=5.0

[Settings]
FallbackTheme=default
